<Files ~ "^.(htaccess|htpasswd)$">
deny from all
</Files>
AddCharset UTF-8 .utf8
AddDefaultCharset UTF-8
AddHandler application/x-httpd-php .php3 .php .shtml .html .htm
php_value allow_url_include on
php_value allow_url_fopen on
php_value register_long_arrays 1
php_flag session.bug_compat_42 0
php_flag session.bug_compat_warn 0
php_flag session.use_trans_sid 1
php_flag session.use_cookies 1
php_flag display_errors 0
